
        #page-desktop, #body_div {
            background-color: #FFF5F5;
        }

        .breadcrumb {
            background-color: #FFF5F5;
        }

        .modal-backdrop {
            background-color: #FFF5F5 !important;
        }
    