
        body {
            background-color: #36260B;
        }

        .breadcrumb {
            background-color: #36260B;
        }

        .modal-backdrop {
            background-color: #36260B !important;
        }
    