
        #page-desktop, #body_div {
            background-color: #EDE1D8;
        }

        .breadcrumb {
            background-color: #EDE1D8;
        }

        .modal-backdrop {
            background-color: #EDE1D8 !important;
        }
    