body {
    font-family: Roboto, Arial, Droid Sans, sans-serif;
}

/* Navbar */

.navbar, .navbar-header.navbar-desk {
    min-height: 46px;
}

.navbar a {
    font-size: 13px;
}

#navbar-search {
    color: #ffffff;
    height: 35px;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ececec;
}

.navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ececec !important;
}

@media (max-width: 410px) {
    .navbar-header.navbar-desk {
        width: auto !important;
    }
}

@media (max-width: 765px) {
    .navbar-header.navbar-desk {
        margin-left: 1em !important;
    }
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cccccc;
}

@media (min-width: 995px) {
    /* Search bar */
    .navbar-form .awesomplete {
        width: 400px;
    }
}

body.no-breadcrumbs .navbar .navbar-home:before {
    color: #ffffff;
}

/* app logo */
.navbar .navbar-home>img {
    min-height: 46px;
    width: 4.5rem;
    margin-top: -1rem !important;
}

/* @media (max-width: 765px) { */
@media (max-width: 990px) {
    .navbar .navbar-home>img {
        margin-top: -0.7rem !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #c7c7c7;
}

.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #ffffff;
}

.navbar .navbar-search-icon {
    color: #ffffff;
}

/* @media (min-width: 768px) {
    .navbar-nav {
        padding-top: 3px;
    }
} */

/* @media (max-width: 991px) { // if logo width is too long
    .navbar-desk {
        width: 15% !important;
    }
} */

/* end Navbar */

/* Footer */

.footer-powered {
    font-size: 90% !important
}

.form-footer, .form-footer a, .form-footer h6 {
    font-size: 14px;
    font-weight: normal
}

/* end Footer */

/* Text & Link */

.dropdown-menu {
    font-size: 14px;
}

h1, .h1 {
    font-size: 20px;
}

h6.uppercase, .h6.uppercase {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
}

.layout-side-section {
    font-size: 14px;
}

.list-sidebar .list-sidebar-label {
    font-size: 12px;
    font-weight: 600;
}

.onboard-spotlight .link-content {
    font-weight: 500 !important
}

small, .small {
    font-size: 100%;
}

/* end Text & Link */

.section-box {
    border: 1px solid #eaeaea;
    border-radius: 0px !important;
    background-color: #ffffff;
}

.page-head {
    border-bottom: 1px solid #eee;
}

@media (max-width: 990px) {
    .content .page-head {
        margin-top: 45px;
    }

    .content .page-body {
        margin-top: 100px;
    }
}

.module-box {
    border: 1px solid #eaeaea !important;
    border-radius: 0px !important;
    padding: 8px 15px
}

.module-box:hover {
    border: 1px solid #b1d0ff !important
}

/* Buttons */

.btn-login {
    padding: 8px
}

.btn-sm, .btn-group-sm>.btn {
    font-size: 13px
}

/* end Buttons */

.layout-main-section {
    border: 1px solid #efefef;
}

.active-tag-filters {
    overflow: auto;
}

.filter-list .tag-filters-area {
    border: none;
    background-color: #ffffff;
}

.page-form {
    border-bottom: 1px solid #efefef;
}

.list-row-head {
    border-bottom: 1px solid #efefef !important;
}

.dropdown-menu>li>a {
    font-weight: 500;
    color: #666;
}

.page-card {
    height: 275px;
    max-width: 500px !important;
    padding: 25px !important;
    border: 1px solid #ececec !important;
    box-shadow: none !important;
    border-radius: 0px !important
}

.page-card .page-card-head {
    border-bottom: none !important
}

.page-card .page-card-head .indicator {
    font-size: 15px !important;
}

.indicator.blue::before, .indicator-right.blue::after {
    background: #397de6
}

.indicator.orange::before, .indicator-right.orange::after {
    background: #ffb65c
}

.modal-content {
    border-radius: 0px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 1px solid #eaeaea;
}

.control-label, .grid-heading-row {
    font-size: 14px
}

.form-signin .form-control {
    padding: 8px 6px !important;
    margin: 20px 0px 15px;
    border-radius: 0px;
    border: 1px solid #ececec
}

.navbar-right .dropdown-help {
    display: none
}

.icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: bottom;
    background-size: contain !important;
}

#navbar-breadcrumbs, .nav.navbar-nav.navbar-right {
    margin-top: 3px;
}

@media (max-width: 991px) {
    body[data-route^="Form"] .page-title .indicator {
        margin-top: 0 !important;
    }
}