.fa-check-square-o {
    background: url(/assets/erpnext/images/erp-icon.svg)
}

.start-blue {
    background: url(/assets/custom_theme/images/start.png)
}

.accounting-blue {
    background: url(/assets/custom_theme/images/accounting.png)
}

.buying-blue {
    background: url(/assets/custom_theme/images/buying.png)
}

.selling-blue {
    background: url(/assets/custom_theme/images/selling.png)
}

.stock-blue {
    background: url(/assets/custom_theme/images/stock.png)
}

.assets-blue {
    background: url(/assets/custom_theme/images/assets.png)
}

.projects-blue {
    background: url(/assets/custom_theme/images/projects.png)
}

.crm-blue {
    background: url(/assets/custom_theme/images/crm.png)
}

.support-blue {
    background: url(/assets/custom_theme/images/support.png)
}

.hr-blue {
    background: url(/assets/custom_theme/images/hr.png)
}

.quality-blue {
    background: url(/assets/custom_theme/images/quality.png)
}

.website-blue {
    background: url(/assets/custom_theme/images/website.png)
}

.social-blue {
    background: url(/assets/custom_theme/images/social.png)
}

.dashboard-blue {
    background: url(/assets/custom_theme/images/dashboard.png)
}

.marketplace-blue {
    background: url(/assets/custom_theme/images/marketplace.png)
}

.tools-blue {
    background: url(/assets/custom_theme/images/tools.png)
}

.settings-blue {
    background: url(/assets/custom_theme/images/settings.png)
}

.users-blue {
    background: url(/assets/custom_theme/images/users.png)
}

.customize-blue {
    background: url(/assets/custom_theme/images/customize.png)
}

.integrate-blue {
    background: url(/assets/custom_theme/images/integrate.png)
}

.developer-blue {
    background: url(/assets/custom_theme/images/developer.png)
}

.learn-blue {
    background: url(/assets/custom_theme/images/learn.png)
}

.manufacture-blue {
    background: url(/assets/custom_theme/images/manufacture.png)
}

.retail-blue {
    background: url(/assets/custom_theme/images/retail.png)
}

.education-blue {
    background: url(/assets/custom_theme/images/education.png)
}

.healthcare-blue {
    background: url(/assets/custom_theme/images/healthcare.png)
}

.agriculture-blue {
    background: url(/assets/custom_theme/images/agriculture.png)
}

.non-profit-blue {
    background: url(/assets/custom_theme/images/charity.png)
}