.fa-check-square-o {
    background: url(/assets/erpnext/images/erp-icon.svg)
}

.start-blue {
    background: url(/assets/custom_theme/images/start.svg)
}

.accounting-blue {
    background: url(/assets/custom_theme/images/accounting.svg)
}

.buying-blue {
    background: url(/assets/custom_theme/images/buying.svg)
}

.selling-blue {
    background: url(/assets/custom_theme/images/selling.svg)
}

.stock-blue {
    background: url(/assets/custom_theme/images/stock.svg)
}

.assets-blue {
    background: url(/assets/custom_theme/images/assets.svg)
}

.projects-blue {
    background: url(/assets/custom_theme/images/projects.svg)
}

.crm-blue {
    background: url(/assets/custom_theme/images/crm.svg)
}

.support-blue {
    background: url(/assets/custom_theme/images/support.svg)
}

.hr-blue {
    background: url(/assets/custom_theme/images/hr.svg)
}

.quality-blue {
    background: url(/assets/custom_theme/images/quality.svg)
}

.website-blue {
    background: url(/assets/custom_theme/images/website.svg)
}

.social-blue {
    background: url(/assets/custom_theme/images/social.svg)
}

.dashboard-blue {
    background: url(/assets/custom_theme/images/dashboard.svg)
}

.marketplace-blue {
    background: url(/assets/custom_theme/images/marketplace.svg)
}

.tools-blue {
    background: url(/assets/custom_theme/images/tools.svg)
}

.settings-blue {
    background: url(/assets/custom_theme/images/settings.svg)
}

.users-blue {
    background: url(/assets/custom_theme/images/users.svg)
}

.customize-blue {
    background: url(/assets/custom_theme/images/customization.svg)
}

.integrate-blue {
    background: url(/assets/custom_theme/images/integration.svg)
}

.developer-blue {
    background: url(/assets/custom_theme/images/developer.svg)
}

.learn-blue {
    background: url(/assets/custom_theme/images/learn.svg)
}

.manufacture-blue {
    background: url(/assets/custom_theme/images/manufacturing.svg)
}

.retail-blue {
    background: url(/assets/custom_theme/images/retail.svg)
}

.education-blue {
    background: url(/assets/custom_theme/images/education.svg)
}

.healthcare-blue {
    background: url(/assets/custom_theme/images/healthcare.svg)
}

.agriculture-blue {
    background: url(/assets/custom_theme/images/agriculture.svg)
}

.non-profit-blue {
    background: url(/assets/custom_theme/images/non_profit.svg)
}