.navbar-default {
    background-color: #1a3f77;
    border-color: #1a3f77;
}

.navbar-light {
    background-color: #1a3f77 !important;
}

#navbar-search {
    background-color: #123263;
    border: 1px solid #123263;
}
