
        .navbar-default {
            background-color: #BAB38D;
            border-color: #BAB38D;
        }

        .navbar-light {
            background-color: #BAB38D !important;
        }

        #navbar-search {
            background-color: #918C6E;
            border: 1px solid #918C6E;
        }

        /* navbar ">" logo */
        #navbar-breadcrumbs > li > a:hover:before, #navbar-breadcrumbs > li > a:focus:before, #navbar-breadcrumbs > li > a:active:before {
            color: #c7c7c7;
        }
    