
        .navbar-default {
            background-color: #1a3f77;
            border-color: #1a3f77;
        }

        .navbar-light {
            background-color: #1a3f77 !important;
        }

        #navbar-search {
            background-color: #123263;
            border: 1px solid #123263;
        }

        /* navbar ">" logo */
        #navbar-breadcrumbs > li > a:hover:before, #navbar-breadcrumbs > li > a:focus:before, #navbar-breadcrumbs > li > a:active:before {
            color: #c7c7c7;
        }
    